* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	color: rgb(0, 32, 77);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	margin: 0px;
}
.container {
	width: 100%;
}

.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 2;
	display: none;
}

header {
	width: 100%;
}
.header-div {
	/* position: fixed; */
	width: 100%;
	height: 150px;
	padding: 2% 3%;
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid rgb(240, 241, 243);
}
a {
	text-decoration: none;
	color: rgb(0, 32, 77);
	cursor: pointer;
}
ul {
	list-style: none;
}
.header ul li {
	padding: 0 16px;
}
.container {
	width: 100%;
	margin: auto;
}

/* Nav */
.main-nav-up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	font-size: 16px;
	padding: 0 20px;
}
.main-nav-down {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 16px;
}
.main-nav-down ul li a {
	font-weight: 700;
}
.main-nav-down ul li a:hover {
	border-bottom: 2px solid;
	color: rgb(213, 60, 98);
}
.main-nav-up ul li a:hover {
	color: rgb(213, 60, 98);
}

.header ul {
	display: flex;
}
i {
	font-size: 24px;
}
.logo {
	max-height: 50px;
}
input {
	width: 60%;
	height: 40%;
	min-height: 48px;
	margin: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	border-color: transparent;
	background-color: rgb(240, 241, 243);
	color: rgb(0, 32, 77);
	border-radius: 2px;
	padding: 8px 16px;
	margin-bottom: 20px;
}

.upper-slide {
	background-color: rgb(255, 248, 249);
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.upper-slide-text {
	/* width: 100%; */
}
.upper-slide a {
	display: inline-flex;
	justify-content: center;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
.upper-slide a:hover {
	border-bottom: 2px solid;
}
.upper-slide-text {
	display: flex;
	align-items: center;
	min-height: 48px;
}
.upper-slide-text span {
	color: rgb(1, 44, 108);
	margin-right: 16px;
	font-size: 0.875rem;
	font-weight: 200;
}
#chevron-slide {
	font-size: 14px;
	margin-left: 10px;
	text-decoration: none;
}

/* slide */
.slider-move {
	background-color: rgb(255, 198, 209);
	display: flex;
	height: 400px;
	padding: 0 24px;
	justify-content: space-between;
}
.slider-left {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 36px;
}
.slider-left h2 {
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: 700;
}
.slider-move a {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
	cursor: pointer;
	text-align: center;
	padding: 16px 18px;
	color: rgb(255, 255, 255);
	background-color: rgb(213, 60, 98);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 0.4px;
	transition: background-color 150ms linear 0s, box-shadow 150ms linear 0s;
	border-radius: 8px;
}
.slider-move a:hover {
	opacity: 0.9;
	box-shadow: rgba(0, 32, 77, 0.15) 0px 4px 8px 6px;
}
.slide-img {
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 2%;
	background-color: rgb(255, 198, 209);
}
.slide-img img {
	/* width: 70%; */
	height: 80%;
	padding-left: 5%;
}
/* Drawer */
.drawer {
	background-color: rgb(248, 248, 249);
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-grow: 1;
	align-items: stretch;
	justify-content: center;
}
.drawer-div {
	display: flex;
	flex-wrap: wrap;
	margin: 24px 10px;
	flex-direction: column;
	background-color: white;
	padding: 8px 12px;
	border: 2px solid rgb(1, 46, 108);
	border-radius: 8px;
}
.drawer-div a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	color: rgb(1, 46, 108);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 0.4px;
	transition: background-color 150ms linear 0s, box-shadow 150ms linear 0s;
}

.drawer-div:hover {
	box-shadow: rgba(0, 32, 77, 0.15) 3px 3px 8px 4px;
}
/* birthday cards */

.bday-card {
	background-color: rgb(255, 248, 249);
	padding: 2px 24px;
}
.bday-dv {
	margin: 2% 3%;
}
.cards-header h3 {
	padding: 20px 0;
	font-size: 1.6rem;
	font-weight: 700;
}
.cards-header p {
	padding-bottom: 16px;
}
.bday-chev {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.fa-chevron-left:hover {
	margin-left: 4px;
	font-weight: bolder;
}
.fa-chevron-right:hover {
	margin-right: 4px;
	font-weight: bolder;
}
.bday-img {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.bday-img img {
	width: 100%;
	margin-bottom: 14px;
	border-radius: 3px;
}

.bday-img img:hover {
	box-shadow: rgba(0, 32, 77, 0.15) 4px 6px 8px 4px;
	margin-top: 2px;
}

/* flowers */

.flowers {
	background-color: white;
	padding: 0 24px;
	margin: 2% 3%;
	text-align: left;
}
.flowers h3 {
	padding: 20px 0;
	font-size: 1.6rem;
	font-weight: 700;
}
.flowers p {
	padding-bottom: 16px;
}
.flower-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin: 18px 0;
}
.card-flower {
	box-shadow: rgba(0, 32, 77, 0.15) 0px 2px 9px 2px;
	text-align: center;
	border-radius: 3px;
}
.card-flower:hover {
	box-shadow: rgba(3, 43, 99, 0.15) 0px 2px 9px 6px;
	margin-top: 1px;
}
.flower-cards img {
	width: 100%;
}
.fa-star {
	font-size: small;
	color: rgb(255, 217, 0);
}
.flower-cards h5 {
	color: rgb(213, 60, 98);
	padding-bottom: 10px;
	padding-top: 10px;
}
.view-all {
	display: flex;
	justify-content: center;
	padding-top: 12px;
	align-items: center;
	flex: 1;
}
.view-all a {
	padding: 6px 16px;
	/* margin-bottom: 20px; */
	cursor: pointer;
	color: rgb(206, 51, 86);
	background-color: rgb(255, 248, 249);
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.4px;
	border: 2px solid rgb(213, 60, 98);
	border-radius: 8px;
	width: 100%;
	max-width: 192px;
	min-height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(0, 32, 77, 0.15) 0px 3px 8px 1px;
}
.view-all a:hover {
	box-shadow: rgba(0, 32, 77, 0.15) 0px 3px 8px 6px;
}

/* anniversary */
#anniversary {
	background-color: white;
}
/* articles */

.articles {
	background-color: white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	padding: 3% 5%;
}
.articles p {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 300;
	margin-top: 15px;
}

/* footer nav links */
.nav-links {
	background-color: rgb(240, 241, 243);
	padding: 3% 5%;
}
.links-inner {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	align-items: flex-start;
	justify-content: center;
}
.links-inner li h3 {
	margin-bottom: 6%;
}
.links-inner li a {
	font-size: 16px;
	line-height: 2.6;
}
.links-inner li a:hover {
	border-bottom: 1px solid;
	color: rgb(213, 60, 98);
}
/* keep in touch */
.our-app {
	background-color: rgb(248, 248, 249);
	padding: 3% 5%;
	text-align: center;
}
.keep-intouch {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}
.keep-intouch h3 {
	margin: 2% 0;
}
.keep-intouch i {
	margin: 2%;
}
.keep-intouch i:hover {
	color: rgb(213, 60, 98);
}
/* our brands */
.our-brand {
	background-color: rgb(255, 255, 255);
	padding: 3% 5%;
}
.inner-brand {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.inner-brand img {
	margin: 18px 0;
}
/* responsive  */
/* responsive  */
/* responsive  */
/* responsive  */

@media (max-width: 800px) {
	.header-div {
		width: 100%;
		padding: 15px;
		background-color: rgb(255, 255, 255);
		border-bottom: 2px solid rgb(240, 241, 243);
	}
	.header ul li {
		padding: 0 10px;
	}
	i {
		font-size: 18px;
	}
	.main-nav-down ul li a {
		font-weight: 500;
	}
	.logo {
		height: 30px;
	}
	input {
		width: 50%;
		height: 30%;
		min-height: 38px;
		margin: 10px;
		font-size: 0.7rem;
		border-radius: 2px;
		padding: 4px 8px;
		margin-bottom: 10px;
	}
	.slider-left {
		padding: 16px;
	}
	.slider-left h2 {
		font-size: 1.8rem;
		line-height: 1;
		font-weight: 700;
	}
	.bday-img {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.flower-cards {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
		margin: 12px 0;
	}
	.links-inner {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 6px;
	}
	.drawer-div a {
		font-size: 0.6rem;
		line-height: 1.8;
		font-weight: 600;
		letter-spacing: 0.2px;
	}
	.drawer-div {
		margin: 12px 5px;
		padding: 4px 6px;
		border-radius: 6px;
	}
	.links-inner li a {
		font-size: 13px;
		line-height: 2;
	}
	.slide-img img {
		/* width: 70%; */
		height: 40%;
		padding-left: 2%;
	}
}
@media (max-width: 500px) {
	.slide-img {
		width: 0%;
	}
	.slide-img img {
		display: none;
	}
	.header-div {
		width: 100%;
		height: 90px;
		padding-top: 20px;
		background-color: rgb(255, 255, 255);
		border-bottom: 2px solid rgb(240, 241, 243);
	}
	input {
		display: none;
	}
	.menu-btn {
		display: block;
		font-size: 14px;
	}
	.menu-btn:hover {
		opacity: 0.5;
		color: rgb(213, 60, 98);
	}
	.main-nav-down ul {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #f2f2f2;
		width: 50%;
		height: 100%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 30px;
		transform: translateX(-500);
		transition: transform 0.5s ease-in-out;
	}
	.main-nav-down ul.show {
		transform: translateX(-20);
	}
	.main-nav-up ul li {
		margin-right: 30px;
	}
	.main-nav-down ul li {
		padding: 10px;
		border-bottom: #ccc solid 1px;
	}
	.main-nav-down ul li a:hover {
		border-bottom: 0;
	}
	.main-nav-down ul li:last-child {
		border-bottom: 0;
	}
}
